.collectItem {
  height: auto;
  width: 100%;
  position: relative;
}
.test{
  position: relative;
  height: auto;
  -webkit-transition: all .2s linear;
  transition: all .2s linear;
  z-index: 2;
  text-align: left;
  width: 100%;
  overflow: hidden;
  background: white;
  transform: translateX(0);
}
.test.left{
  transform: translateX(-60px);
}
.close {
  position: absolute;
  top: 0;
  right: 0;
  width: 60px;
  height: 100%;
  background: #ff6900;
  z-index: 1;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: .36rem;
}
.noAddress {
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #fff;
  color: #333;
  font-size: 14px;
  margin-bottom: 10px;
}

// 卡片样式
.goodsCard {
  background: #fff;
  width: 100%;
  .goodsCardItem {
    width: 50%;
    display: inline-block;
  }
}
.goodsCard__flex {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 10px 6px;
  color: #333;
  font-size: 14px;
  img {
    width: 100px;
    height: auto;
    margin-bottom: 12px;
  }
  .goodsCard__price {
    color: darkred;
  }
}